<div class="container">
  <div class="image--container">

  </div>

  <div class="content">
    <div class="row">
      <div class="name">Maksim Vilcheuski</div>
    </div>

    <div class="row">
      <div class="label">Birthday:</div>
      <div class="value">22 August 1997</div>
    </div>

    <div class="row">
      <div class="label">Phone:</div>
      <div class="value">+375297877018</div>
    </div>

    <div class="row">
      <div class="label">About me:</div>
      <div class="description">
        <pre>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illo, porro? Architecto cum esse illo maxime nam, necessitatibus omnis perferendis repudiandae saepe, sapiente ullam, unde? Dicta eius incidunt nesciunt numquam.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci aut corporis, culpa dolorum eligendi error est eum facilis harum illum iusto laborum minima nulla, perferendis qui recusandae veniam!

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem cum ducimus error ex, exercitationem, facilis ipsa libero maiores molestiae mollitia nisi perspiciatis porro quia, repellendus tempore temporibus voluptas! Quaerat.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias autem beatae blanditiis delectus enim eveniet harum impedit iusto nam natus necessitatibus, nesciunt pariatur possimus quia reprehenderit saepe suscipit, voluptatibus!
        </pre>
      </div>
    </div>
  </div>
</div>
