.warning-block {
  background: url('../../../../assets/images/warning.svg') no-repeat;
  background-position-y: center;
  padding-left: 1.5rem;
  color: #f44336;
  font-size: 1rem;
  margin: 7px 0;
}
