.container {
  background: #FFFFFF;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.wrapper {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  text-transform: uppercase;
  border-bottom: 1px solid #EDEFF0;
  background: radial-gradient(1044.57px at 13.78% 559.37%, #34D1C8 0%, #248CD6 100%), linear-gradient(90deg, #4063BD 0%, #248CD6 100%);
  color: #FFFFFF;
  font-family: SegoeUISemiBold, sans-serif;
}

.body {
  padding: 0.625rem;
}
