@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./assets/fonts/fonts.css";

* {
  box-sizing: border-box;
  font-family: SegoeUIRegular, sans-serif;
}

html {
  overflow-x: hidden;
  font-size: 14px;
}

.col {
  width: 100%;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }

  .col {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col {
    width: 33.3%;
  }
}

@media (min-width: 1200px) {
  .col {
    width: 25%;
  }
}

body {
  margin: 0;
  padding: 0;
}

.button {
  padding: 5px 16px;
  outline: none;
  border-radius: 3px;
  font-family: SegoeUISemiBold, sans-serif;
  font-size: 0.8rem;
  transition: .2s;
}

.button span {
  font-family: SegoeUISemiBold, sans-serif;
  font-size: 0.8rem;
}

.button:hover {
  cursor: pointer;
}

.button--blue {
  background-color: #248CD6;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.button--transparent {
  background-color: transparent;
  color: #248CD6;
  border: 1px solid #248CD6;
}

.button--transparent:hover {
  background-color: #248CD6;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.button--transparent:disabled {
  background-color: transparent;
  color: #248CD6;
  border: 1px solid #248CD6;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #248CD6;
}
