@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./assets/fonts/fonts.css";

* {
  box-sizing: border-box;
  font-family: SegoeUIRegular, sans-serif;
}

html {
  overflow-x: hidden;
  font-size: 14px;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.button {
  padding: 5px 16px;
  outline: none;
  border-radius: 3px;
  font-family: SegoeUISemiBold, sans-serif;
  font-size: 0.8rem;
}

.button:hover {
  cursor: pointer;
}

.button--orange {
  background-color: #ED5E42;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.button--transparent {
  background-color: transparent;
  color: #ED5E42;
  border: 1px solid #ED5E42;
}
