<app-auth-container [header]="'Sign in'">
  <form #f="ngForm" (submit)="f.form.valid && onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="user.email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="button--container">
      <button type="submit" class="button button--transparent button--login" [disabled]="isLoading">
        <mat-spinner *ngIf="isLoading" [diameter]="16"></mat-spinner>
        <span *ngIf="!isLoading">Login</span>
      </button>
    </div>
  </form>
</app-auth-container>



