.avatar {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.container--avatar {
  overflow: hidden;
}

.example-card {

}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
